.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* background-color: rgb(205, 214, 223); */
    position: relative;
    background-image: url("../../assets/backGround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  