.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: linear-gradient(to left, rgba(0, 0, 0, 0.041), rgba(38, 4, 82, 0.322));
    position: relative;
  }
  